.input {
  width: $w-100;
  margin-bottom: $m-10;
  position: relative;
  .input-label {
    margin-bottom: $m-10 - 0.5;
    display: flex;
    .label-name {
      margin-right: $m-10 - 0.5;
    }
    .label-required {
      color: $tRed-1;
    }
  }
  .input-group {
    width: $w-100;
    display: flex;
    align-items: center;
    border: 1px solid $gray-2;
    border-radius: $roundedSm;
    outline: none;
    transition: all $durationMd $func;
    overflow: hidden;
    .group-control {
      width: $w-100;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .control-action {
        width: $w-100;
        border: unset;
      }
      .control-clear-icon {
        padding-top: $p-10 - 0.8;
        padding-right: $p-10 - 0.6;
        cursor: pointer;
        path {
          color: $tGray-2;
        }
      }
    }
    .group-prefix,
    .group-suffix {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: $h-100 - 10%;
        background: $gray-2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .group-prefix {
      &::after {
        right: 0;
      }
    }
    .group-suffix {
      &::after {
        left: 0;
      }
    }
    .group-suffix-cursor {
      cursor: pointer;
    }
  }
  .input-group-error {
    border-color: $red-1;
  }
}

// Size
.input-sm {
  .input-label {
    .label-name {
      font-size: $body-2 !important;
    }
  }
  .input-group {
    .group-control {
      .control-action {
        padding: $p-10 - 0.8 $p-10 - 0.4;
        font-size: $body-3 !important;
      }
    }
    .group-prefix,
    .group-suffix {
      padding: $p-10 - 0.8 $p-10 - 0.4;
    }
  }
}

.input-md {
  .input-label {
    .label-name {
      font-size: $body-1 !important;
    }
  }
  .input-group {
    .group-control {
      .control-action {
        padding: $p-10 - 0.7 $p-10 - 0.4;
        font-size: $body-2 !important;
      }
    }
    .group-prefix,
    .group-suffix {
      padding: $p-10 - 0.7 $p-10 - 0.4;
    }
  }
}

.input-lg {
  .input-label {
    .label-name {
      font-size: $default !important;
    }
  }
  .input-group {
    .group-control {
      .control-action {
        padding: $p-10 - 0.5;
        font-size: $body-1 !important;
      }
    }
    .group-prefix,
    .group-suffix {
      padding: $p-10 - 0.5 $p-10 - 0.2;
    }
  }
}

// Variant
.input-success {
  .input-group {
    &:hover {
      border-color: $green-1;
    }
    &:focus-within {
      border-color: $green-1;
    }
  }
}
.input-warning {
  .input-group {
    &:hover {
      border-color: $orange-1;
    }
    &:focus-within {
      border-color: $orange-1;
    }
  }
}
.input-info {
  .input-group {
    &:hover {
      border-color: $blue-1;
    }
    &:focus-within {
      border-color: $blue-1;
    }
  }
}
